<h2>T.E. Lawrence</h2>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p>Thomas Edward Lawrence (16 August 1888 – 19 May 1935) was a British author, archaeologist, military officer, and diplomat. He was renowned for his liaison role during the Sinai and Palestine Campaign and the Arab Revolt against the Ottoman Empire during the First World War. The breadth and variety of his activities and associations, and his ability to describe them vividly in writing, earned him international fame as Lawrence of Arabia — a title used for the 1962 film based on his wartime activities.</p>
      <p>T.E. Lawrence was best known in his lifetime as 'Lawrence of Arabia' because of the dashing role he played in helping the Arabs against the Turks during World War I.  At 31 Lawrence was an international celebrity but, embittered by his country's Middle East policies, he chose a life of obscurity and died at the age of 46 after a motorcycle accident.</p>
      <p><a ng-click="showBooks = !showBooks">Click to see my T.E. Lawrence book reccomendations.</a></p>
      <div ng-show="showBooks" class="col-md-8 bookList">
       <ul>
         <li><a href="https://www.goodreads.com/book/show/17262206-lawrence-in-arabia">Lawrence in Arabia: War, Deceit, Imperial Folly, and the Making of the Modern Middle East</a></li>
         <li><a href="https://www.goodreads.com/book/show/114996.Lawrence_Of_Arabia">Lawrence Of Arabia: The Authorized Biography of T.E. Lawrence</a></li>
       </ul>
      </div>
    </div>
    <div class="col-md-3 image">
      <img src="assets/te_lawrence.jpg" alt="T.E. Lawrence" />
    </div>
  </div>
</div>
