<h2>Thurgood Marshall</h2>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p>Thurgood Marshall (July 2, 1908 – January 24, 1993) was an Associate Justice of the Supreme Court of the United States, serving from October 1967 until October 1991. Marshall was the Court's 96th justice and its first African-American justice.</p>
      <p>Before becoming a judge, Marshall was a lawyer who was best known for his high success rate in arguing before the Supreme Court and for the victory in Brown v. Board of Education, a decision that desegregated public schools. </p>
      <p><a ng-click="showBooks = !showBooks">Click to see my Thurgood Marshall book reccomendations.</a></p>
      <div ng-show="showBooks" class="col-md-8 bookList">
       <ul>
         <li><a href="http://www.goodreads.com/book/show/13425592-devil-in-the-grove">Devil in the Grove</a></li>
         <li><a href="https://www.goodreads.com/book/show/156521.Thurgood_Marshall">Thurgood Marshall: American Revolutionary</a></li>
       </ul>
      </div>
    </div>
    <div class="col-md-3 image">
      <img src="assets/thurgood_marshall.png" alt="Thurgood Marshall" />
    </div>
  </div>
</div>
