<h2>Kim Philby</h2>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p>Harold Adrian Russell "Kim" Philby (1 January 1912 – 11 May 1988) was a high-ranking member of British intelligence who worked as a double agent before defecting to the Soviet Union in 1963. He served as both an NKVD and KGB operative.</p>
      <p>In 1963, Philby was revealed to be a member of the spy ring now known as the Cambridge Five, the other members of which were Donald Maclean, Guy Burgess, Anthony Blunt and, possibly, John Cairncross. Of the five, Philby is believed to have been most successful in providing secret information to the Soviet Union. His activities were moderated only by Joseph Stalin's fears that he was secretly on Britain's side.[3] Philby was an Officer of the Order of the British Empire (OBE) from 1946 to 1965.</p>
      <p><a ng-click="showBooks = !showBooks">Click to see my Kim Philby book reccomendations.</a></p>
      <div ng-show="showBooks" class="col-md-8 bookList">
       <ul>
         <li><a href="https://www.goodreads.com/book/show/18773666-a-spy-among-friends">A Spy Among Friends</a></li>
         <li><a href="https://www.goodreads.com/book/show/522144.The_Master_Spy">The Master Spy: The Story of Kim Philby</a></li>
       </ul>
      </div>
    </div>
    <div class="col-md-3 image">
      <img src="assets/kim-philby.jpg" alt="Kim Philby" />
    </div>
  </div>
</div>
